.mainWrapper {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding-left: 2em;
  padding-right: 2em;
  align-items: center;
  border-bottom: solid 1px #333;
}

.menuItems {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  gap: 3em;
}
.menuItems:hover{
    cursor: pointer;
}

.registrationCont > button {
  all: unset;
  background-color: white;
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 15px;
  cursor: pointer;
}
.registrationCont > button:hover{
    background-color: #dedbe5;
}

.logo{
    width: 100px;
    height: auto;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.menuItems{
  display: none;
}
.registrationCont > button{
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 10px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}