.footerCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5em 5em 1em 5em;
    border-top: solid 1px #555;
    padding-top: 1em;
}
.menuOne > img{
    width: 200px;
    height: auto;
}

.menuTwo{
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.menuThree{
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.menuFour{
    display: flex;
    flex-direction: column;
    line-height: 2;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.menuOne{
    width: 200px;
    height: auto;
}

.menuTwo{
   display: none;
}

.menuThree{
    display: none;
}

.menuFour{
    display: none;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}